<nav class="navbar fixed-top navbar-expand-lg " id="nav">
    <div class="container-fluid">
        
      <a class="navbar-brand row d-flex align-items-center" routerLink="home"><img src="/assets/img/logo.png" height="60px" alt="Logo" class="col"><h1 class="col m-0 p-0">FERTIFULL</h1> </a>
      <button 
        class="navbar-toggler bg-success " 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarScroll" 
        aria-controls="navbarScroll" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        style="border: 2px solid black;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="home" routerLinkActive="activo">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="aboutass" routerLinkActive="activo">¿Quienes Somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products" routerLinkActive="activo">Productos</a>
                    
        </ul>

        
        <div class="d-flex justify-contets-center align-items-center">
          <button class="btn btn-success mx-2" routerLink="contacts">Contacto</button>
          
          <a class="mx-2" href="https://www.facebook.com/Fertifull" target="_blank"><i class="fa-brands fa-facebook-f" > </i></a>
          <a class="mx-2" href="https://www.instagram.com/fertifull/" target="_blank"><i class="fa-brands fa-instagram" ></i></a>
          <a class="mx-2" href=""><i class="fa-brands fa-whatsapp" target="_blank"></i></a>
        </div>
       
      </div>
    </div>
</nav>

