<app-banner></app-banner>
<div class="container  text-center p-2 " >
    <h1 class="container-xl">Nuestros Productos</h1>
    <div class="container-fluid  row justify-content-around p-0 m-0">
        <div class="card shadow m-3 p-0" style="max-width: 340px;">
            <div class="row g-0">
              <div class="col-md-6 p-3 d-flex align-middle"> 
                <img src="/assets/img/card_p.png" class="img-fluid rounded " alt="...">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">Fertilizantes</h5>
                  <p class="card-text">This is a wider card with supporting text below as</p>
                  <a routerLink="products" class="btn btn-success">Ver más</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow m-3 p-0" style="max-width: 340px;">
            <div class="row g-0">
              <div class="col-md-6 p-3 d-flex align-middle"> 
                <img src="/assets/img/card_o.png" class="img-fluid rounded " alt="...">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">Otros</h5>
                  <p class="card-text">This is a wider card with supporting text below as</p>
                  <a routerLink="products" class="btn btn-success">Ver más</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    
</div>

<div class="container-fluid p-0"><img class="w-100" src="/assets/img/staff.png" alt="staff"></div>

<div class="container shadow col-8 justify-content-center  p-4" id="aboutass">
    <div class="row"><h1 class=" text-center">Nuestra historia</h1>
    <p class=" p-2">Desde 1997 enfocados en brindar excelencia en todos nuestros productos para cultivos intensivos, jardinería y paisajismo, entendiendo que el desarrollo sustentable es la única manera para lograrlo.</p>
    </div>
    <div class="row justify-content-center"><button class=" btn btn-success" routerLink="aboutass" type="button" >Conocer más</button>
    </div>
</div>



<div class="container col-8 justify-content-center align-items-center">
    <div class="row"><h1 class=" text-center pt-2 ">Nuestros Trabajos</h1>
    <p class=" p-2"></p>
    </div>
    <div class="row justify-content-center"><button class="btn btn-success" routerLink="aboutass" type="button">Ver más</button>
    </div>
</div>
<div class="container-fluid text-center  row justify-content-around p-0 my-4 mx-0">
    <h1 class="col-12 mb">¿Quieres vender nuestros productos?</h1>
    <div class="card shadow p-0 m-2" style="width: 18rem;">
        <img src="/assets/img/vivero.png" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">¿Sos un vivero?</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="contacts" class="btn btn-success">Más info</a>
        </div>
      </div>
      <div class="card shadow p-0 m-2" style="width: 18rem;">
        <img src="/assets/img/mayorista.png" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">¿Sos un mayorista?</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="contacts" class="btn btn-success align-bottom">Más info</a>
        </div>
      </div>
</div>
