.banner-image {
    background-image: url('https://www.pennington.com/-/media/Project/OneWeb/Pennington/Images/blog/fertilizer/what-is-fish-fertilizer/fish-fertilizer-og.jpg');
    background-size: cover;
    height: 80vh;
}