.banner-image {
    background-image: url('/assets/img/banner1-1.png');
    background-size: cover;
    height: 80vh;
}
h2{
    font-size: 3rem;
    color: white;
    font-family: sunflower,Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 0.2rem 0.2rem 0.4rem black;
}
@media (max-width:760px) {

    h2{
        font-size: 1.5rem;
    }

}